<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#login").click(function () {
                var userName = $("#userName").val();
                var userPassword = $("#userPassword").val();
                $.post("login", {"userName": userName, "userPassword": userPassword}, function (result) {
                    alert("result=" + result)
                });
            });

            $("#login2").click(function () {
                var userName = $("#userName").val();
                var userPassword = $("#userPassword").val();
                $.post("login2", {"userName": userName, "userPassword": userPassword}, function (result) {
                    alert("result=" + result)
                });
            });
        });
    </script>
</head>
<body>
login
用户名：<input type="text" id="userName"/>
<br/>
密码：<input type="text" id="userPassword"/>
<br/>
<input type="button" id="login" value="登录"/>
<input type="button" id="login2" value="登录2"/>
</body>
</html>